<div class="footer">
  <div class="content">
    <div class="one">
      <a href="/" class="logo">
        <i class="fa-solid fa-hands-asl-interpreting"></i>
        <h3>Sign Language</h3>
      </a>
      <ul class="social">
        <li>
          <a href="#" class="face" aria-label="Our Facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="#" class="linkedin" aria-label="Our Linkedin">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="#" class="github" aria-label="Our Github">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="two">
      <ul class="links">
        <li><a class="onee" data-i18n="MENU">Menu</a></li>
        <li><a href="/" data-i18n="HOME_PAGE">Home Page</a></li>
        <li>
          <a href="/translate" data-i18n="TRANSLATE_PAGE">Translate page</a>
        </li>
        <li>
          <a href="/courses" data-i18n="EDUCATION_PAGE">Education Page</a>
        </li>
      </ul>
    </div>
    <div class="three">
      <div class="email">
        <i class="fa-solid fa-envelope fa-fw"></i>
        <h3 data-i18n="CONTACT_US">Contact Us</h3>
      </div>
      <a href="mailto:signlanguage568@gmail.com">signlanguage568@gmail.com</a>
    </div>
  </div>
  <div class="copy-right">
    <p data-i18n="COPYRIGHT">Copyright &copy; 2024 Sign Language</p>
  </div>
  <div class="made">
    <p data-i18n="MADE_BY">Made by SignCraft Innovators</p>
  </div>
</div>
