<div class="header">
  <div class="container">
    <a href="/" class="logo">
      <i class="fa-solid fa-hands-asl-interpreting"></i>
      <h3>Sign Language</h3>
    </a>
    <ul class="main-nav">
      <li class="header-pages">
        <a
          href="/"
          class="<%= currentPage==='index' ? 'active' : null %>"
          data-i18n="Head_Home"
          >Home</a
        >
      </li>
      <li class="header-pages">
        <a
          href="/translate"
          class="<%= currentPage==='translate' ? 'active' : null %>"
          data-i18n="Head_Translate"
          >Translate</a
        >
      </li>
      <li class="header-pages" id="education">
        <a
          href="/signIn"
          class="<%= currentPage==='course' ? 'active' : null %>"
          data-i18n="Head_Education"
          >Education</a
        >
      </li>
      <li>
        <a id="btn-ar" class="btn-lang">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="50"
            zoomAndPan="magnify"
            viewBox="0 0 810 809.999993"
            height="50"
            preserveAspectRatio="xMidYMid meet"
            version="1.0"
          >
            <path
              fill="#000000"
              d="M 315.960938 280.320312 L 319.152344 277.199219 C 325.496094 270.78125 331.984375 265.164062 338.617188 260.347656 C 343.054688 257.214844 347.636719 254.882812 352.359375 253.355469 C 357.15625 251.957031 362.007812 251.441406 366.921875 251.804688 L 387.785156 254.195312 C 390.425781 254.265625 391.8125 253.214844 391.9375 251.035156 C 390.492188 243.050781 384.335938 235.015625 373.46875 226.933594 C 364.761719 222.101562 357.011719 220.992188 350.21875 223.601562 C 326.683594 234.167969 310.972656 252.761719 303.089844 279.382812 C 299.640625 293.386719 299.996094 303.207031 304.15625 308.84375 C 306.453125 314.128906 316.464844 321.207031 334.191406 330.074219 C 310.671875 364.449219 296.960938 397.695312 293.0625 429.820312 C 289.832031 463.019531 297.390625 490.394531 315.734375 511.945312 C 330.921875 533.082031 367.515625 543.082031 425.511719 541.953125 C 439.730469 541.53125 451.335938 539.589844 460.328125 536.125 L 501.511719 512.929688 C 505.820312 510.53125 509.835938 507.675781 513.558594 504.367188 C 518.832031 498.859375 518.695312 496.058594 513.15625 495.964844 L 460.003906 501.734375 C 447.25 502.917969 437.96875 503.554688 432.15625 503.644531 C 411.320312 504.027344 394.460938 502.972656 381.582031 500.480469 C 352.621094 495.851562 331.898438 486.417969 319.414062 472.175781 C 311.058594 461.011719 307.277344 447.375 308.070312 431.265625 C 308.488281 419.386719 310.027344 408.554688 312.6875 398.773438 C 315.164062 389.507812 318.101562 381.929688 321.5 376.039062 C 329.097656 363.488281 339.261719 352.570312 351.984375 343.285156 C 362.792969 334.894531 385.863281 320.46875 421.203125 300.011719 C 431.492188 279.742188 436.222656 268.191406 435.398438 265.355469 C 435.238281 262.246094 432.039062 262.140625 425.804688 265.042969 L 409.660156 273.378906 C 394.460938 284.394531 385.871094 290.292969 383.894531 291.078125 C 378.359375 294.34375 372.800781 296.308594 367.222656 296.96875 C 361.671875 297.972656 352.570312 296.5625 339.921875 292.738281 L 315.960938 280.320312 "
              fill-opacity="1"
              fill-rule="nonzero"
            />
          </svg>
        </a>
        <a id="btn-en" class="btn-lang" style="display: none">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="40"
            zoomAndPan="magnify"
            viewBox="0 0 810 809.999993"
            height="40"
            preserveAspectRatio="xMidYMid meet"
            version="1.0"
          >
            <defs>
              <clipPath id="b9ab7f41a3">
                <path
                  d="M 56 179.597656 L 754 179.597656 L 754 630.347656 L 56 630.347656 Z M 56 179.597656 "
                  clip-rule="nonzero"
                />
              </clipPath>
            </defs>
            <g clip-path="url(#b9ab7f41a3)">
              <path
                fill="#000000"
                d="M 688.6875 243.441406 L 688.6875 473.480469 L 458.449219 243.441406 L 458.449219 501.476562 L 121.386719 501.476562 L 121.386719 439.410156 L 316.214844 439.410156 L 316.214844 374.234375 L 121.386719 374.234375 L 121.386719 312.171875 L 381.257812 312.171875 L 381.257812 179.597656 L 339.179688 247.585938 L 56.34375 247.585938 L 56.34375 566.652344 L 523.195312 566.652344 L 523.195312 562.503906 L 523.492188 562.503906 L 523.492188 400.304688 L 753.730469 630.347656 L 753.730469 243.441406 Z M 688.6875 243.441406 "
                fill-opacity="1"
                fill-rule="nonzero"
              />
            </g>
          </svg>
        </a>
      </li>
      <li id="signInLink">
        <a href="/signIn"><i class="fa-solid fa-user-plus fs-16 mr-5"></i></a>
      </li>
      <li id="logoutLink" style="display: none" class="logout">
        <a href="/" onclick="logout()"
          ><i class="fa-solid fa-sign-out fs-16 mr-5"></i>
          <span data-i18n="Head_Logout">Logout</span></a
        >
      </li>
      <li>
        <a id="menu-icon"><i class="fa-solid fa-bars"></i></a>
        <!-- Start Megamenu -->
        <div id="menu" class="mega-menu">
          <ul class="links">
            <li>
              <a class="menu-home-icon" href="/"
                ><i class="fa-solid fa-house"></i>
                <span data-i18n="Head_Home">Home</span></a
              >
            </li>
            <li>
              <a class="menu-home-icon" href="/translate"
                ><i class="fa-solid fa-hands"></i>
                <span data-i18n="Head_Translate">Translate</span></a
              >
            </li>
            <li>
              <a class="menu-home-icon" href="/courses"
                ><i class="fa-solid fa-user-graduate"></i
                ><span data-i18n="Head_Education">Education</span></a
              >
            </li>
            <li>
              <a href="/support"
                ><i class="fa-solid fa-headset"></i>
                <span data-i18n="Head_Support">Support</span></a
              >
            </li>
          </ul>
        </div>
        <!-- End Megamenu -->
      </li>
    </ul>
  </div>
</div>
<script>
  const menuIcon = document.getElementById("menu-icon");
  const menu = document.getElementById("menu");

  // Event listener
  menuIcon.addEventListener("click", () => menu.classList.toggle("show-menu"));
</script>
