#allCourses {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  background-color: var(--white-color);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 30px;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
}

#allCourses .course-0,
#allCourses .course-1,
#allCourses .course-2 {
  background-color: var(--white-color);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.course-0 div.btn-control,
.course-1 div.btn-control,
.course-2 div.btn-control {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0;
}

.btn-control .modify button,
.btn-control .remove button {
  padding: 10px 15px;
  color: var(--main-color);
  background-color: var(--white-color);
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  width: 200px;
}

.btn-control .modify button:hover,
.btn-control .remove button:hover {
  color: var(--main-color-alt);
  transition: 0.2s ease;
}

.btn-control .modify button:active,
.btn-control .remove button:active {
  font-size: 19px;
}

.course-0 div,
.course-1 div,
.course-2 div {
  border-radius: 8px;
  margin: 20px;
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 10px 20px;
}

@media (max-width: 500px) {
  #allCourses {
    margin: 10px;
    padding: 5px 10px;
  }
  #allCourses .course-0,
  #allCourses .course-1,
  #allCourses .course-2 {
    margin: 10px;
    padding: 5px 10px;
  }
  .course-0 div,
  .course-1 div,
  .course-2 div {
    margin: 10px;
    padding: 5px 10px;
  }
}

.modal-container .form-input input {
  margin: 5px 0 10px 0;
  padding: 8px;
  width: 100%;
  outline-color: var(--main-color);
}

div.course-property-imageurl div,
div.course-property-videourl div {
  padding: 0;
  margin: 0;
}

.course-property-listvideourl p a {
  color: white;
  font-weight: bold;
}

.course-property-listvideourl p a:hover {
  text-decoration: underline;
}
