/* Start Global Rules */
:root {
  --error-massage: #ba181b;
  --success-massage: #2ec4b6;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #ff9f1c;
  --green-color: #22c55e;
  --red-color: #e71d36;
  --grey-color: #888;
  --black-color: #011627;
  --white-color: #fdfffc;
  --main-color: #2ec4b6;
  --main-color-alt: #3c7671;
  --purple-alt: #6610f2;
  --purple: #6f42c1;
  --main-transition: 0.3s;
  --model-duration: 1s;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color-alt);
}

.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
@media (max-width: 425px) {
  .main-title {
    font-size: 20px;
  }
}

.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

/* End Global Rules */

/* Start Scroller */
.scroller {
  background-color: var(--main-color-alt);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 0;
  height: 5px;
}
/* End Scroller */

/* Start header */
.header {
  background-color: var(--white-color);
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .logo {
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo i {
  color: var(--white-color);
  background-color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  width: 40px;
  height: 36px;
  padding-right: 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .header .container a h3 {
    display: none;
  }
}

.header .main-nav {
  display: flex;
  align-items: center;
}

.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: relative;
  padding: 0 30px;
  color: var(--black-color);
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  transition: var(--main-transition);
  cursor: pointer;
}

.header .main-nav li.active {
  color: var(--main-color);
}

.header .main-nav li {
  background-color: #fafafa;
}

.menu_index {
  position: relative;
}

.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}

.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

.header .main-nav > li > a.active {
  color: var(--main-color);
  background-color: #fafafa;
}

.header .main-nav > li > a:hover::before {
  left: 0;
}

.header .mega-menu {
  position: absolute;
  width: 250px;
  background-color: white;
  padding: 30px;
  border-bottom: 3px solid var(--main-color);
  margin-top: 50px;
  display: flex;
  gap: 40px;
  top: 20px;
  right: 10px;
  transition: top var(--main-transition), opacity var(--main-transition);
  z-index: 100;
  display: none;
}

.header .main-nav > li .show-menu {
  display: block;
}

@media (max-width: 991px) {
  .header .main-nav .header-pages {
    display: none;
  }
}

@media (min-width: 992px) {
  .header .container .mega-menu .menu-home-icon {
    display: none;
  }
}

.header .mega-menu .LINKS {
  min-width: 100px;
  padding-right: -50px;
  flex: 1;
}

.header .mega-menu .links li {
  position: relative;
}

.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}

.header .mega-menu .links li:hover::before {
  width: 100%;
}

.header .mega-menu .links li a {
  color: var(--black-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  transition: var(--main-transition);
}

.header .mega-menu .links li a:hover {
  color: var(--main-color);
}

.header .mega-menu .links li a i {
  margin-right: 10px;
  color: var(--main-color);
}

/* End header */
/* Start home */
.home {
  position: relative;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

@media (max-width: 1024px) {
  .home {
    flex-direction: column;
    padding: 5px;
  }
}

.home .content {
  align-items: center;
  text-align: center;
  margin-right: 20px;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .home .content {
    max-width: 800px;
  }
}

.home .content h2 {
  font-size: 35px;
  color: var(--white-color);
}

.home .content p {
  color: var(--white-color);
  padding: 0 20px;
  font-size: 24px;
}

@media (max-width: 768px) {
  .home .content h2 {
    font-size: 26px;
  }
  .home .content p {
    color: var(--white-color);
    padding: 0 10px;
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .home .content h2 {
    font-size: 20px;
  }
  .home .content p {
    color: var(--white-color);
    padding: 0 10px;
    font-size: 16px;
  }
}
/* Start Intro */
.sign_video {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  margin: 0 10px;
}

.sign_video video {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* End Intro */
/* End home */
/* Start about */
.about {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f3f3f3;
}

.about .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 70px;
  border-radius: 10px;
  transition: var(--main-transition);
}

.about .one {
  background: linear-gradient(to left, var(--main-color) 50%, white 50%);
  background-size: 200% 100%;
  background-position: left bottom;
}

.about .two {
  background: linear-gradient(to right, var(--main-color) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.about .container:not(:nth-child(7)) {
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .about .container {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .about .container {
    margin: 0 20px;
  }
}

.about .one:hover {
  background-color: var(--main-color-alt);
  background-position: right bottom;
}

.about .two:hover {
  background-color: var(--main-color-alt);
  background-position: left bottom;
}

.about .container .text_left {
  margin-left: 10px;
  transition: var(--main-transition);
}

.about .container .text_right {
  margin-right: 50px;
  transition: var(--main-transition);
}

@media (max-width: 450px) {
  .about .container .text_left {
    margin-right: -50px;
  }
  .about .container .text_right {
    margin-left: -50px;
  }
}
.about .container:hover .text {
  color: var(--white-color);
}

.about .container .text h1 {
  font-size: 35px;
}

.about .container .text span {
  display: block;
}

.about .container .text p {
  font-size: 25px;
}

@media (max-width: 768px) {
  .about .container .text h1 {
    font-size: 26px;
  }
  .about .container .text p {
    font-size: 20px;
  }
}

.about .container img {
  border-radius: 10px;
  max-width: 550px;
  height: 370px;
  display: flex;
}

.about .container .image_right {
  margin-left: 50px;
}

.about .container .image_left {
  margin-right: 50px;
  margin-left: -50px;
}

@media (max-width: 991px) {
  .about .container img {
    display: none;
  }
}

.about .container a.left {
  position: absolute;
  height: 90%;
  width: 40px;
  left: 10px;
  border-radius: 6px;
  outline: none;
  background-color: var(--white-color);
  display: none;
  transition: var(--main-transition);
}

.about .container a.right {
  position: absolute;
  height: 90%;
  width: 40px;
  right: 10px;
  border-radius: 6px;
  outline: none;
  background-color: var(--white-color);
  display: none;
  transition: var(--main-transition);
}

.about .container:hover a {
  display: block;
}

.about .container a:hover {
  outline: 3px solid var(--main-color-alt);
  cursor: pointer;
}

.about .container a.left i {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 20px;
  color: var(--black-color);
  transform: translate(-50%, -50%);
  animation: moving-arrow-L 0.5s linear infinite;
}

.about .container a.right i {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 20px;
  color: var(--black-color);
  transform: translate(-50%, -50%);
  animation: moving-arrow-R 0.5s linear infinite;
}

/* End about */
/* Start SignIn page */
.signIn {
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  min-height: 80vh;
  width: 750px;
  margin: auto;
  margin-top: 25px;
}
.signIn .containerS {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100;
}
@media (max-width: 767px) {
  .signIn {
    margin-top: 41px;
    min-height: 60vh;
    width: 350px;
  }
  .signIn .containerS {
    flex-direction: column-reverse;
  }
  .signIn .containerS .intro,
  .signIn .containerS .content {
    padding-bottom: 30px;
  }
}
.signIn .containerS .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  flex: 1;
}
.signIn .containerS .content .social {
  font-size: 25px;
  padding: 10px;
  margin: 5px;
  border: 1px solid var(--grey-color);
  border-radius: 50%;
  transition: var(--main-transition);
}
.signIn .containerS .content .social:hover {
  background-color: var(--main-color);
  color: white;
  border: 1px solid white;
}
.signIn .containerS .content .social i {
  width: 30px;
  height: 30px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.form-control input {
  background-color: #eee;
  border: 2px solid #fff;
  padding: 12px 15px;
  margin: 8px 0;
  width: 300px;
  display: block;
  border-radius: 5px;
  font-size: 14px;
}

@media (max-width: 500px) {
  .signIn {
    margin-top: 41px;
    min-height: 60vh;
    width: 300px;
  }
  .form-control input {
    width: 260px;
  }
}

.form-control input:focus {
  outline: none;
  border-color: var(--main-color);
  transition: 0.4s;
}

.form-control.success input {
  border-color: var(--success-massage);
}

.form-control.error input {
  border-color: var(--error-massage);
}

.form-control.error small {
  visibility: visible;
}

.form-control small {
  color: var(--error-massage);
  position: absolute;
  bottom: -10;
  left: 0;
  visibility: hidden;
}
.signIn .containerS .content .text span a {
  transition: var(--main-transition);
  color: black;
}
.signIn .containerS .content .text span a:hover {
  color: var(--main-color);
}
.signIn .containerS button {
  border-radius: 20px;
  border: 1px solid white;
  background-color: var(--main-color);
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: var(--main-transition);
}
.signIn .containerS button:hover {
  background-color: white;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  cursor: pointer;
}
.signIn .containerS button.dif:hover {
  background-color: white;
  color: var(--main-color);
  cursor: pointer;
}
.signIn .containerS .intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex: 1;
  height: 80vh;
  background-color: var(--main-color);
}

.signIn .containerS .intro p {
  margin-right: 50px;
  margin-left: 50px;
}
.signIn .containerS .content form .text {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.signIn .containerS .content form {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
/* End SignIn page */
/* Start signUp page */
.signUp {
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  min-height: 80vh;
  width: 750px;
  margin: auto;
  margin-top: 25px;
}
.signUp .containerU {
  position: relative;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .signUp {
    margin-top: 41px;
    min-height: 60vh;
    width: 350px;
  }
  .signUp .containerU {
    flex-direction: column-reverse;
  }
  .signUp .containerU .intro,
  .signUp .containerU .content {
    padding-bottom: 30px;
  }
}

.signUp .containerU .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  flex: 1;
}

.signUp .containerU .content .social {
  font-size: 25px;
  padding: 10px;
  margin: 5px;
  border: 1px solid var(--grey-color);
  border-radius: 50%;
  transition: var(--main-transition);
}
.signUp .containerU .content .social:hover {
  background-color: var(--main-color);
  color: white;
}
.signUp .containerU .content input.one {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 10px;
  width: 300px;
  outline-color: var(--main-color);
}

@media (max-width: 400px) {
  .signUp {
    margin-top: 41px;
    min-height: 60vh;
    width: 300px;
  }
  .signUp .containerU .content input.one {
    width: 260px;
  }
}

.signUp .containerU .content .text .gender {
  justify-content: center;
  align-items: center;
}

.signUp .containerU .content .text span a {
  transition: var(--main-transition);
  color: black;
}
.signUp .containerU .content .text span a:hover {
  color: var(--main-color);
}
.signUp .containerU button {
  border-radius: 20px;
  border: 1px solid white;
  background-color: var(--main-color);
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: var(--main-transition);
}
.signUp .containerU button:hover {
  background-color: white;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  cursor: pointer;
}
.signUp .containerU button.dif:hover {
  background-color: white;
  color: var(--main-color);
  cursor: pointer;
}
.signUp .containerU .intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 80vh;
  background-color: var(--main-color);
}

.signUp .containerU .intro p {
  margin-right: 50px;
  margin-left: 50px;
}
.signUp .containerU .content form .text {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.signUp .containerU .content form {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
/* End signUp page */
/* Start Footer */
.footer {
  background-color: var(--main-color);
  padding: 50px 30px 0 30px;
}

.footer .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}

@media (max-width: 400px) {
  .footer .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
  }
}

.footer .content .one {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .logo {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 72px;
  align-items: center;
  color: var(--white-color);
}

.footer .logo i {
  display: flex;
  background-color: var(--white-color);
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  width: 40px;
  height: 36px;
  padding-right: 0px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.footer .content .social {
  display: flex;
}

@media (max-width: 767px) {
  .footer .content .social {
    justify-content: center;
  }
}

.footer .content .social li {
  margin-right: 10px;
}

.footer .social li a {
  background-color: var(--white-color);
  color: #b9b9b9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 25px;
  transition: var(--main-transition);
}

.footer .content .social .face:hover {
  background-color: #1877f2;
}

.footer .content .social .linkedin:hover {
  background-color: #0077b5;
}

.footer .content .social .github:hover {
  background-color: #333;
}

.footer .two .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}

@media (max-width: 768px) {
  .footer .two {
    width: 250px;
    margin: auto;
  }
}

.footer .two .links li a.onee {
  color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
}

.footer .two .links li:not(:last-child) {
  border-bottom: 1px solid var(--black-color);
}

.footer .two .links li:hover:not(:first-child) {
  padding-left: 10px;
}

.footer .two .links li:hover:not(:first-child) a {
  color: var(--black-color);
}

.footer .two .links li a {
  color: var(--white-color);
  transition: var(--main-transition);
}

.footer .two .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--white-color);
}

.footer .two .links li a.onee::before {
  display: none;
}

.footer .three {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.footer .three .email {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  color: var(--white-color);
}
.footer .three .email i {
  margin-right: 5px;
  font-size: 20px;
}
.footer .three a {
  font-size: 18px;
  color: var(--white-color);
  transition: var(--main-transition);
}
.footer .three a:hover {
  font-size: 19px;
  color: var(--black-color);
}

.footer .copy-right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--white-color);
  font-size: 18px;
  border-bottom: 2px solid var(--white-color);
}
.footer .made {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--white-color);
  font-size: 18px;
}
/* End Footer */

/* Start translate */
.translate {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.translate .T1 {
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/translate.png);
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
}

@media (max-width: 991px) {
  .translate .T1 {
    flex-basis: 100%;
  }
}

.translate .T1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(46 196 182 / 97%);
  z-index: -1;
}

.translate .content {
  text-align: center;
  padding: 0 20px;
}

.translate .T1 h1 {
  font-size: 40px;
}

.translate .T1 p {
  margin: 0 55px;
  text-align: center;
  line-height: 1.7;
  font-size: 20px;
}

.translate .T1 img {
  max-width: 300px;
  padding-top: 20px;
}

.translate .T2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 50px;
}

@media (max-width: 991px) {
  .translate .T2 {
    flex-basis: 100%;
  }
}

.translate form .input {
  position: relative;
  display: block;
  width: 100%;
  border: none;
  padding: 15px;
  margin-bottom: 25px;
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
}

.translate form div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.translate form div i {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 30px;
  cursor: pointer;
  padding-left: 5px;
}
.translate .content h2 {
  font-size: 40px;
  letter-spacing: -2;
}

.translate form textarea.input {
  resize: none;
  height: 200px;
}

.translate form .input:focus {
  outline-color: var(--main-color);
}

.translate form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}

.translate form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}

/* End translate */

/* Start control courses */
.controlCourses h1 {
  display: flex;
  justify-content: center;
}

.controlCourses .content {
  margin: auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.controlCourses .content button {
  padding: 10px 15px;
  margin-right: 10px;
  color: var(--white-color);
  background-color: var(--main-color);
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.controlCourses .content button:hover {
  background-color: var(--white-color);
  color: var(--main-color);
  outline: 2px solid var(--main-color);
  transition: 0.2s ease;
}

.controlCourses .content button:active {
  transform: scale(0.98);
  transition: 0.3s ease;
}

.modal-container,
.modal-container-mod,
.modal-container-rem {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-container-mod.show-modal,
.modal-container.show-modal,
.modal-container-rem.show-modal {
  display: block;
  overflow-y: scroll;
}

.modal {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalOpen;
  animation-duration: var(--model-duration);
}

@media (max-width: 550px) {
  .modal {
    width: 320px;
  }
  .controlCourses h1 {
    text-align: center;
  }
}

.modal-header {
  background: var(--main-color);
  color: #fff;
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
}

.modal-content {
  padding: 20px;
}
.modal-content p {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form .choose {
  width: 60%;
  margin-right: -10px;
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
}

.modal-content .modal-form textarea {
  resize: none;
  width: 100%;
  height: 80px;
  outline-color: var(--main-color);
}

.modal-content .modal-form input {
  outline-color: var(--main-color);
}

.close-btn {
  background-color: transparent;
  font-size: 25px;
  position: absolute;
  top: 15px;
  right: 0;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  transition: 0.4s ease;
}

.close-btn:hover {
  color: var(--red-color);
}

.close-btn:active {
  transform: scale(0.95);
}

.modal-content .device-video,
.modal-content .url-video {
  display: none;
}

.modal-content .device-video.show-video,
.modal-content .url-video.show-url {
  display: block;
}

.submit-btn {
  width: 100%;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--main-color);
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: var(--white-color);
  color: var(--main-color);
  outline: 2px solid var(--main-color);
  transition: 0.2s ease;
}

.submit-btn:active {
  transform: scale(0.98);
  transition: 0.3s ease;
}
/* End control courses */

/* Start animation */

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes moving-arrow-L {
  100% {
    left: 13px;
  }
}

@keyframes moving-arrow-R {
  100% {
    right: -7px;
  }
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* End animation */

.header .main-nav > li > .btn-lang {
  padding: 0;
  cursor: pointer;
}
