/* Start Global Rules */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #ff9f1c;
  --green-color: #22c55e;
  --red-color: #e71d36;
  --grey-color: #888;
  --black-color: #011627;
  --white-color: #fdfffc;
  --main-color: #2ec4b6;
  --main-color-alt: #3c7671;
  --purple-alt: #6610f2;
  --purple: #6f42c1;
  --main-transition: 0.3s;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color-alt);
}

.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}

.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

/* End Global Rules */
/* Start header */
.header {
  background-color: var(--white-color);
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  z-index: 3;
}

.header .container {
  max-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .logo {
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo i {
  color: var(--white-color);
  background-color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  width: 40px;
  height: 36px;
  padding-right: 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50%;
  }
}

.header .main-nav {
  display: flex;
}

@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}

.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(50%);
  display: flex;
}

.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: relative;
  padding: 0 30px;
  color: var(--black-color);
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  transition: var(--main-transition);
}

.header .main-nav li.active {
  color: var(--main-color);
}

/*  I added this because when I was reduce the page, 
    only the links that had been activated were showing, 
    But the rest does not.  */
.header .main-nav li {
  background-color: #fafafa;
}

.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}

.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

.header .main-nav > li > a.active {
  color: var(--main-color);
  background-color: #fafafa;
}

.header .main-nav > li > a:hover::before {
  left: 0;
}

@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}

.header .mega-menu {
  position: absolute;
  width: 250px;
  background-color: white;
  padding: 30px;
  border-bottom: 3px solid var(--main-color);
  margin-top: 40px;
  z-index: -1;
  display: none;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
    margin-top: 60px;
  }
}

.header .mega-menu .LINKS {
  min-width: 100px;
  padding-right: -50px;
  flex: 1;
}

.header .mega-menu .links li {
  position: relative;
}

.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}

.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}

.header .mega-menu .links li:hover::before {
  width: 100%;
}

.header .mega-menu .links li a {
  color: var(--black-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  transition: var(--main-transition);
}

.header .mega-menu .links li a:hover {
  color: var(--main-color);
}

.header .mega-menu .links li a i {
  margin-right: 10px;
  color: var(--main-color);
}

/* End header */
/* Start home */
.home {
  position: relative;
  background-color: var(--main-color-alt);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

@media (max-width: 991px) {
  .home {
    flex-direction: column;
    padding: 5px;
    margin-top: 60px;
  }
}

.home .content {
  align-items: center;
  text-align: center;
  /* background-color: var(--main-color-alt); */
  margin-right: 20px;
  border-radius: 10px;
}

@media (max-width: 991px) {
  .home .content {
    margin-right: 0;
    margin-top: 20px;
  }
}

.home .content h2 {
  font-size: 35px;
  color: var(--white-color);
}

.home .content p {
  color: var(--white-color);
  padding: 0 20px;
  font-size: 20px;
}

/* Start Intro */
.sign_video {
  position: relative;
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
}

.sign_video video {
  max-width: 800px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .sign_video video {
    max-width: 500px;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .sign_video video {
    margin-top: 20px;
  }
}

/* End Intro */
/* End home */
/* Start about */
.about {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f3f3f3;
}

.about .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 70px;
  border-radius: 10px;
  transition: var(--main-transition);
}

.about .one {
  background: linear-gradient(to left, var(--main-color) 50%, white 50%);
  background-size: 200% 100%;
  background-position: left bottom;
}

.about .two {
  background: linear-gradient(to right, var(--main-color) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.about .container:not(:nth-child(5)) {
  margin-bottom: 50px;
}

.about .one {
  background: linear-gradient(to left, var(--main-color) 50%, white 50%);
  background-size: 200% 100%;
  background-position: left bottom;
}

.about .two {
  background: linear-gradient(to right, var(--main-color) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.about .container:not(:nth-child(7)) {
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .about .container {
    margin: 0 20px;
  }
}

.about .one:hover {
  background-color: var(--main-color-alt);
  background-position: right bottom;
}

.about .two:hover {
  background-color: var(--main-color-alt);
  background-position: left bottom;
}

.about .container .text_left {
  margin-left: 10px;
  transition: var(--main-transition);
}

.about .container .text_right {
  margin-right: 50px;
  transition: var(--main-transition);
}


.about .container:hover .text {
  color: var(--white-color);
}

.about .container .text h1 {
  font-size: 35px;
}

.about .container .text span {
  display: block;
}

.about .container .text p {
  font-size: 25px;
}

.about .container img {
  border-radius: 10px;
  max-width: 600px;
  height: 400px;
  display: flex;
}

.about .container .image_right {
  margin-left: 50px;
}

.about .container .image_left {
  margin-right: 50px;
  margin-left: -50px;
}



@media(max-width:991px) {
  .about .container img {
    display: none;
  }
}

.about .container a.left {
  position: absolute;
  height: 90%;
  width: 40px;
  left: 10px;
  border-radius: 6px;
  outline: none;
  background-color: var(--white-color);
  display: none;
  transition: var(--main-transition);
}

.about .container a.right {
  position: absolute;
  height: 90%;
  width: 40px;
  right: 10px;
  border-radius: 6px;
  outline: none;
  background-color: var(--white-color);
  display: none;
  transition: var(--main-transition);
}

.about .container:hover a {
  display: block;
}

.about .container a:hover {
  outline: 3px solid var(--main-color-alt);
  cursor: pointer;
}

.about .container a.left i {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 20px;
  color: var(--black-color);
  transform: translate(-50%, -50%);
  animation: moving-arrow-L 0.5s linear infinite;
}

.about .container a.right i {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 20px;
  color: var(--black-color);
  transform: translate(-50%, -50%);
  animation: moving-arrow-R 0.5s linear infinite;
}

/* End about */
/* Start SignIn page */
.signIn {
background-color: var(--white-color);
border-radius: 10px;
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
0 10px 10px rgba(0, 0, 0, 0.22);
position: relative;
overflow: hidden;
width: 900px;
max-width: 100%;
min-height: 550px;
margin: auto ;
margin-top: 25px;
}
.signIn .containerS{
  position: relative;
  display: flex;
  justify-content: space-between;
}
.signIn .containerS .content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 550px;
  flex: 1;
}
.signIn .containerS .content .social{
  font-size: 25px;
  padding: 10px;
  margin: 5px;
  border: 1px solid var(--grey-color);
  border-radius: 50%;
  transition: var(--main-transition);
}
.signIn .containerS .content .social:hover{
  background-color: var(--main-color);
  color: white;
}
.signIn .containerS .content input{
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  outline-color: var(--main-color);
}

.signIn .containerS .content .text span a{
  transition: var(--main-transition);
  color: black;
}
.signIn .containerS .content .text span a:hover{
  color: var(--main-color);
}
.signIn .containerS button{
  border-radius: 20px;
  border: 1px solid white;
  background-color: var(--main-color);
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: var(--main-transition);
}
.signIn .containerS button:hover{
  background-color: white;
  border:1px solid var(--main-color);
  color: var(--main-color);
  cursor: pointer;
}
.signIn .containerS button.dif:hover{
  background-color:white;
  color: var(--main-color);
  cursor: pointer;
}
.signIn .containerS .intro{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 550px;
  background-color: var(--main-color);
}

.signIn .containerS .intro p{
  margin-right: 50px;
  margin-left: 50px;
}
.signIn .containerS .content form .text{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.signIn .containerS .content form{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
/* End SignIn page */
/* Start signUp page */
.signUp {
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 900px;
  max-width: 100%;
  min-height: 550px;
  margin: auto ;
  margin-top: 25px;
  }
  .signUp .containerU{
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .signUp .containerU .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 550px;
    flex: 1;
  }
  .signUp .containerU .content .social{
    font-size: 25px;
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--grey-color);
    border-radius: 50%;
    transition: var(--main-transition);
  }
  .signUp .containerU .content .social:hover{
    background-color: var(--main-color);
    color: white;
  }
  .signUp .containerU .content input.one{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 10px;
    width: 100%;
    outline-color: var(--main-color);
  }
  
  .signUp .containerU .content .text .gender{
    justify-content: center;
    align-items: center;

  }

  .signUp .containerU .content .text span a{
    transition: var(--main-transition);
    color: black;
  }
  .signUp .containerU .content .text span a:hover{
    color: var(--main-color);
  }
  .signUp .containerU button{
    border-radius: 20px;
    border: 1px solid white;
    background-color: var(--main-color);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    transition: var(--main-transition);
  }
  .signUp .containerU button:hover{
    background-color: white;
    border:1px solid var(--main-color);
    color: var(--main-color);
    cursor: pointer;
  }
  .signUp .containerU button.dif:hover{
    background-color:white;
    color: var(--main-color);
    cursor: pointer;
  }
  .signUp .containerU .intro{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 550px;
    background-color: var(--main-color);
  }
  
  .signUp .containerU .intro p{
    margin-right: 50px;
    margin-left: 50px;
  }
  .signUp .containerU .content form .text{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .signUp .containerU .content form{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  /* End signUp page */
/* Start animation */

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes moving-arrow-L {
  100% {
    left: 13px;
  }
}

@keyframes moving-arrow-R {
  100% {
    right: -7px;
  }
}

/* End animation */
