#allAccounts {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  background-color: var(--white-color);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 30px;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
}

#allAccounts .user-info {
  background-color: var(--white-color);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 10px;
  padding-bottom: 60px;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

#allAccounts h2 {
  margin: 20px;
}

.user-info div {
  border-radius: 8px;
  margin: 20px;
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 10px 20px;
}

button.del {
  padding: 10px 15px;
  margin-right: 10px;
  color: var(--white-color);
  background-color: var(--main-color);
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}

button.del:hover {
  background-color: var(--white-color);
  color: var(--main-color);
  outline: 2px solid var(--main-color);
  transition: 0.2s ease;
}

button.del:active {
  font-size: 19px;
}

@media (max-width: 500px) {
  #allAccounts {
    margin: 10px;
    padding: 5px 10px;
  }
  #allAccounts .user-info {
    margin: 10px;
    padding: 5px 10px;
  }
  .user-info div {
    margin: 10px;
    padding: 5px 10px;
  }
}

@media (min-width: 500px) {
  button.del {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-container.show-modal {
  display: block;
  overflow-y: scroll;
}

.modal {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalOpen;
  animation-duration: var(--model-duration);
}

@media (max-width: 550px) {
  .modal {
    width: 320px;
  }
  .controlCourses h1 {
    text-align: center;
  }
}

.modal-header {
  background: var(--main-color);
  color: #fff;
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
}

.modal-content {
  padding: 20px;
}
.modal-content p {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form .choose {
  width: 60%;
  margin-right: -10px;
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
}

.modal-content .modal-form textarea {
  resize: none;
  width: 100%;
  height: 80px;
  outline-color: var(--main-color);
}

.modal-content .modal-form input {
  outline-color: var(--main-color);
}

.close-btn {
  background-color: transparent;
  font-size: 25px;
  position: absolute;
  top: 15px;
  right: 0;
  border: none;
  cursor: pointer;
  color: var(--white-color);
}

.modal-content .device-video,
.modal-content .url-video {
  display: none;
}

.modal-content .device-video.show-video,
.modal-content .url-video.show-url {
  display: block;
}

.submit-btn {
  width: 100%;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--main-color);
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: var(--white-color);
  color: var(--main-color);
  outline: 2px solid var(--main-color);
  transition: 0.2s ease;
}

.submit-btn:active {
  transform: scale(0.98);
  transition: 0.3s ease;
}
