<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="website icon" type="png" href="" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/framework.css" />
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/courses.css" />
    <link rel="stylesheet" href="/css/chatbot.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Courses</title>
  </head>
  <body>
    <!-- Start header -->
    <%- include('./components/header.ejs', {avatarUrl:
    user.avatarUrl,currentPage: "courses"}) %>
    <!-- End Header -->
    <!-- Start COURSES -->
    <section>
      <div class="slider-body">
        <div class="slider-container">
          <div class="left-slide">
            <div style="background-color: #2a86ba">
              <h1>Interactive Exercises and Quizzes</h1>
              <p>Designed to test your knowledge and reinforce your skills.</p>
            </div>
            <div style="background-color: #252e33">
              <h1>Sign Language Courses</h1>
              <p>
                We offer comprehensive sign language courses in Arabic, designed
                for both adults and children.
              </p>
            </div>
            <div style="background-color: var(--main-color)">
              <h1>Sign Language Education</h1>
              <p>
                Our mission is to offer comprehensive sign language education
                for all levels.
              </p>
            </div>
          </div>
          <div class="right-slide">
            <div
              style="
                background-image: url('https://images.unsplash.com/photo-1532012197267-da84d127e765?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
              "
            ></div>
            <div
              style="
                background-image: url('https://images.unsplash.com/photo-1532618500676-2e0cbf7ba8b8?q=80&w=2020&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
              "
            ></div>
            <div
              style="
                background-image: url('https://images.unsplash.com/photo-1539628399213-d6aa89c93074?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
              "
            ></div>
          </div>
          <div class="action-buttons">
            <button class="down-button BTN">
              <i class="fas fa-arrow-down"></i>
            </button>
            <button class="up-button BTN">
              <i class="fas fa-arrow-up"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- <div class="bottom-left-image">
        <img src="images/adult-bottom.png" alt="Bottom Left Image" />
      </div> -->
      <div class="categories">
        <div class="categories-info">
          <h2 class="rectangular-animation">Course Categories</h2>
          <p>We've got courses for everyone!</p>
        </div>
        <div class="categories-content">
          <div
            class="adult-categories"
            onclick="scrollToElement('adultCourses')"
          >
            <img
              src="/images/adult-categories.png"
              alt="Adult Arabic Sign Language (ArSL) Courses"
            />
            <p>Ages 15+</p>
          </div>
          <div class="kids-categories" onclick="scrollToElement('kidsCourses')">
            <img
              src="/images/kids-categories.png"
              alt="Kids Arabic Sign Language (ArSL) Courses"
            />
            <p>Kids</p>
          </div>
        </div>
      </div>
      <div class="courses">
        <div class="head-courses">
          <h3 class="rectangular-animation2" id="arsl-head">ArSL Courses</h3>
        </div>
        <input
          type="text"
          id="myInput"
          onkeyup="search()"
          placeholder="Search for Courses.."
        />
        <div class="div-courses line" id="adultCourses">
          <div class="adult-info-content">
            <h4 id="">Adult ArSL Courses</h4>
            <p>
              Embrace the beauty of Arabic Sign Language (ArSL) with our
              individual Online Arabic Sign Language Courses. Whether you're a
              beginner or looking to enhance your skills, each course offers a
              comprehensive and interactive journey led by experienced Arabic
              Sign Language instructors. Dive into a world of expressive
              gestures, vibrant culture, and meaningful communication, as you
              learn to converse fluently in Arabic Sign Language (ArSL), one
              course at a time. Start your signing adventure today!
            </p>
            <div id="adult-courses-videos" class="div-courses-videos"></div>
          </div>
        </div>

        <div class="div-courses" id="kidsCourses">
          <div class="kids-info-content">
            <h4>ArSL Courses for Kids</h4>
            <p>
              Learn Arabic Sign Language (ArSL) in a fun and interactive way
              with Sign Language 101 for Kids! Our online courses, designed by
              Deaf curriculum specialists, will engage kids ages 8-15 in an
              immersive learning experience. Unlock the power of communication
              and bring clarity to conversations with this hands-on opportunity.
            </p>
            <div id="kids-courses-videos" class="div-courses-videos"></div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./components/footer.ejs') %>
    <!-- End COURSES -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/chatbot.js"></script>
    <script src="/js/courses.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/lang.js"></script>
  </body>
</html>
