<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="website icon" type="png" href="" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/framework.css" />
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/reset-pass.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <style>
      .form-control input {
        background-color: transparent;
        width: 100%;
      }
      .form-control small {
        position: relative;
      }
    </style>
    <title>Forgot Password</title>
  </head>

  <body>
    <!-- Start header -->
    <%- include('./components/header.ejs', { avatarUrl: null, currentPage: null
    }) %>
    <!-- End Header -->
    <!-- start Reset Password -->
    <canvas id="canvas"></canvas>
    <div class="main">
      <form
        action="/reset/reset_password"
        method="post"
        enctype="multipart/form-data"
        class="card"
        id="resetForm"
      >
        <input type="hidden" id="userId" name="userId" value="<%= userId %>" />
        <h2 class="hfor">Reset Password</h2>
        <div class="form-control">
          <input
            type="password"
            id="new-password"
            name="password"
            class="passInput"
            placeholder="New Password"
            autocomplete="off"
          />
          <i
            class="fa-solid fa-lock"
            id="show-password"
            onclick="togglePasswordVisibility('new-password')"
          ></i>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <input
            type="password"
            name="password2"
            id="confirm-password"
            class="passInput"
            placeholder="Confirm New Password"
            autocomplete="off"
          />
          <i
            class="fa-solid fa-lock"
            id="show-confirm-password"
            onclick="togglePasswordVisibility('confirm-password')"
          ></i>
          <small>Error message</small>
        </div>
        <button id="save" type="submit" class="save-pass">Save Changes</button>
      </form>
    </div>
    <!-- End Reset Password -->
    <!-- Start Footer -->
    <%- include('./components/footer.ejs') %>
    <!-- End Footer -->
    <script src="/js/reset.js"></script>
    <script src="/js/reset-pass.js"></script>
    <script src="/js/lang.js"></script>
  </body>
</html>
