<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="website icon" type="png" href="" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/framework.css" />
    <link rel="stylesheet" href="/css/master.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title data-i18n="SIGN_UP">Sign Up</title>
  </head>

  <body>
    <!-- ///////////////////// Script in the Header Components ////////////////////////// -->
    <div class="scroller"></div>
    <!-- /////////////////////////////////////////////// -->
    <!-- Start header -->
    <%- include('./components/header.ejs', { avatarUrl: null, currentPage: null
    }) %>
    <!-- End Header -->

    <!-- Start Home -->
    <div class="signUp">
      <div class="containerU">
        <div class="intro">
          <h1 data-i18n="WELCOME_BACK" class="c-white">Welcome Back!</h1>
          <p data-i18n="KEEP_CONNECTED" class="fw-bold c-white">
            To keep connected with us please login with your personal info
          </p>
          <a href="/signIn"><button data-i18n="SIGN_IN" class="dif mt-20">SIGN IN</button></a>
        </div>
        <div class="content">
          <form
            action="/signUp"
            id="signupForm"
            method="post"
            enctype="multipart/form-data"
          >
            <h1 data-i18n="CREATE_ACCOUNT" class="fw-bold mb-30">Create Account</h1>
            <div class="text">
              <div class="form-control">
                <input
                  name="username"
                  type="text"
                  id="username"
                  autocomplete="username"
                  placeholder="Enter username"
                  data-i18n="ENTER_USERNAME"
                />
                <small data-i18n="ERROR_USERNAME">Error username</small>
              </div>
              <div class="form-control">
                <input
                  name="email"
                  autocomplete="email"
                  type="text"
                  id="email"
                  placeholder="Enter email"
                  data-i18n="ENTER_EMAIL"
                />
                <small data-i18n="ERROR_EMAIL">Error message</small>
              </div>
              <div class="form-control">
                <input
                  name="password"
                  type="password"
                  id="password"
                  placeholder="Enter password"
                  data-i18n="ENTER_PASSWORD"
                />
                <small data-i18n="ERROR_PASSWORD">Error message</small>
              </div>
              <div class="form-control">
                <input
                  name="password_repet"
                  type="password"
                  id="password2"
                  placeholder="Enter password"
                  data-i18n="REPEAT_PASSWORD"
                />
                <small data-i18n="ERROR_PASSWORD_REPEAT">Error message</small>
              </div>
              <div class="gender d-flex">
                <input
                  class="mr-10"
                  type="radio"
                  name="gender"
                  value="male"
                  id="Male"
                />
                <label data-i18n="MALE" class="mr-30" for="Male">Male</label>
                <input
                  class="mr-10"
                  type="radio"
                  name="gender"
                  value="female"
                  id="female"
                />
                <label data-i18n="FEMALE" for="female">female</label>
              </div>
              <div class="d-flex mt-15">
                <label class="mr-5" for="language" data-i18n="SIGN_LANGUAGE_SPEAKER"
                  >Sign Language Speaker?</label
                >
                <input
                  class="p-15"
                  type="checkbox"
                  id="language"
                  name="isSignLanguageSpeaker"
                />
              </div>
              <button data-i18n="SIGN_UP" class="mt-20" type="submit">SIGN UP</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- End Home -->
    <script src="/js/signUp.js"></script>
    <script src="/js/lang.js"></script>
  </body>
</html>
